html, body, .container {
	min-width: 400px;
	width: auto!important;
	background-color: #0E0B16; /* Void */
}

/************************************************/
/*						Navbar					*/
/************************************************/

.title {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
}

.title:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.navbar-nav li:hover {
	background-color: #0E0B16; /* Void */
}

.product {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.85);
}

/************************************************/
/*						Table					*/
/************************************************/

#sector1 {
	margin-top:50px;
}

td {
	height: 42px;
	min-height: 42px;
	width: 14%;
	text-align: center;

	/* Transitions */
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	transition: background-color 1s;
}
td:hover {
	/*background-color: #eee!important;*/
}

#winner {
	margin-top: 20px;
	margin-bottom: 20px;
}

/************************************************/
/*					Add Button					*/
/************************************************/

.btn {
	background-color: #4515f0; /* Blue */
	color: #E7DFDD; /* Stark */
	border-width: 0px;
	border-radius: 0;
	
	/* Transitions */
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	transition: background-color 1s;
}

.btn:hover {
	color: #E7DFDD; /* Stark */
	background-color: #A238CA; /* Fuschia */
}

/************************************************/
/*			Text/Glyphicon Colors				*/
/************************************************/

.white {
	color: rgba(255, 255, 255, 0.85);;
}